<div class="modal-overlay" *ngIf="isOpen$ | async">
  <div class="modal-content">
    <ng-container *ngIf="modalContent$ | async as content">
      <div class="modal-body">
        <h2 class="text-xl font-semibold mb-4">{{ content.title }}</h2>
        <p class="text-gray-700 mb-4">{{ content.content }}</p>
      </div>
      <div class="modal-footer">
        <button
          class="border px-4 py-2 rounded hover:text-primary-600 hover:border-primary-600"
          (click)="onClose()"
        >
          Close
        </button>
        <button
          *ngIf="content.isConfirmButton"
          class="bg-primary-600 text-white px-4 py-2 rounded hover:bg-primary-700"
          (click)="onActionButtonClick()"
        >
          Delete
        </button>
      </div>
    </ng-container>
  </div>
</div>
