<div class="mb-6">
  <div class="flex items-center justify-between mb-4">
    <h1 class="text-2xl">Transformer Products</h1>
    <div class="flex items-center space-x-4">
      <div class="relative">
        <input
          type="text"
          placeholder="Search products..."
          class="pl-10 pr-4 py-2 border border-neutral-300 focus:outline-none rounded-lg w-80"
          [(ngModel)]="searchText"
        />
      </div>
    </div>
  </div>
  <!-- <p class="text-neutral-600">Showing 24 of 156 products</p> -->
</div>

<div
  id="products-grid"
  class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mb-8"
>
  <app-product-card
    *ngFor="let product of products | filter : searchText"
    [product]="product"
  ></app-product-card>
</div>

<!-- <div id="pagination" class="flex items-center justify-between">
  <div class="text-sm text-neutral-600">Showing 1-24 of 156 results</div>
  <div class="flex items-center space-x-2">
    <button
      class="px-3 py-2 border border-neutral-300 rounded hover:bg-neutral-50 disabled:opacity-50"
      disabled=""
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M15.75 19.5 8.25 12l7.5-7.5"
        />
      </svg>
    </button>
    <button class="px-3 py-2 bg-primary-600 text-white rounded">1</button>
    <button
      class="px-3 py-2 border border-neutral-300 rounded hover:bg-neutral-50"
    >
      2
    </button>
    <button
      class="px-3 py-2 border border-neutral-300 rounded hover:bg-neutral-50"
    >
      3
    </button>
    <span class="px-2">...</span>
    <button
      class="px-3 py-2 border border-neutral-300 rounded hover:bg-neutral-50"
    >
      7
    </button>
    <button
      class="px-3 py-2 border border-neutral-300 rounded hover:bg-neutral-50"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="m8.25 4.5 7.5 7.5-7.5 7.5"
        />
      </svg>
    </button>
  </div>
</div> -->
